<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.jaspalsvoice.jv">

    <application
        android:name=".JvApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PersonalDetailsActivity"
            android:label="@string/personal_details" />
        <activity
            android:name=".activities.MedicinesActivity"
            android:label="@string/medicines" />
        <activity
            android:name=".activities.MedicalAllergiesActivity"
            android:label="@string/medical_allergies" />
        <activity
            android:name=".activities.FoodAllergiesActivity"
            android:label="@string/food_allergies" />
        <activity
            android:name=".activities.GpActivity"
            android:label="@string/gp_medical_team" />
        <activity
            android:name=".activities.LikesDislikesActivity"
            android:label="@string/likes_dislikes" />
        <activity
            android:name=".activities.DiagnosisActivity"
            android:label="@string/diagnosis" />
        <activity
            android:name=".activities.AboutMeActivity"
            android:label="@string/about_me" />
        <activity
            android:name=".activities.AddMedicineActivity"
            android:label="@string/add_new_medicine" />
        <activity
            android:name=".activities.AddTeamMemberActivity"
            android:label="@string/add_new_team_member" />
        <activity
            android:name=".activities.FontSizeActivity"
            android:label="@string/change_font_size" />
        <activity android:name=".activities.VitalsActivity" />
        <activity android:name=".activities.AllergiesActivity" />
        <activity
            android:name=".activities.MedicalDiagnosisActivity"
            android:label="@string/title_activity_medical_diagnosis"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>